@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: "Caveat", cursive;
  font-size: 30px;
  text-align: center;
}
