@charset "UTF-8";

body {
    font-family:Arial, Helvetica, sans-serif;
}
table {
    border-collapse: collapse;
}
caption {
    font-size: 1.3em;
    font-weight: bolder;
    padding: 20px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}
tbody > tr:nth-child(odd) {
    background-color: aliceblue;
}
tbody > tr:nth-child(odd) {
    background-color: rgb(248, 240, 255);
}